<%= search_form_for(@query, url: search_path, method: :get) do |f| %>
    <div class="search_form"><%= f.search_field :title_i_cont_any, placeholder: "#{t "search.form.placeholder"}", class: "form-control me-2"%></div>
    <br>
    <div class="search_button"><%= f.submit "#{t "search.form.button"}", class: "btn btn-outline-success" %></div>
<% end %>