<h2> Lista uzytkownikow na stronie </h2>


    <table>
    <tr>
        <th>Nazwa Uzytkownika</th>
        <th>Email</th>
    </tr>
    <% @user.each do |user| %>
    <tr>
        <td><%= link_to user.nickname, user_path(user) %></td>
        <td><%= user.email %></td>
    </tr>
    <% end %>
    </table> 
