<title><%= t "title.about" %></title>
<hr>
<br>

<div class="container">
<h2 class="register-title"><u> <%= t "about.title" %></u></h2>
<br>

<div class="about"><%= image_tag "/assets/me.png", class: "admin_profile_avatar"%>
    <h3 class="login-title"> Czesc! Nazywam sie Patryk</h3><br>
    <p>Nazywam się Patryk Blachowicz i obecnie szukam swojej pierwszej pracy w IT. Przez ostatnie 5 lat pracowałem jako kierowca ciężarówki, przemierzając Europę, co dało mi mnóstwo czasu na przemyślenia i rozwój – nie tylko zawodowy, ale i językowy. W trakcie tych podróży nauczyłem się angielskiego na tyle, że bez problemu czytam dokumentację techniczną.

Moja fascynacja technologią sięga jednak znacznie wcześniej. Przez jakis czas zajmowałem się również tworzeniem modeli 3D w 3ds Max jako freelancer, co otworzyło mi drzwi do bardziej technicznych wyzwań.

Co ciekawe, moje pierwsze kroki w nauce programowania skierowałem na Pythona i Django, ale w trakcie nauki trafiłem na Ruby i Ruby on Rails, z którym pracuję do dziś. Oprócz tego mam doświadczenie w stylowaniu stron za pomocą CSS, podstawy JavaScriptu oraz umiejętność pisania zapytań do baz danych (PostgreSQL). Używam GitHub do zarządzania projektami i regularnej pracy z repozytoriami.

W 2023 roku wziąłem udział w hackathonie, co dało mi kolejną szansę na rozwój oraz lepsze poznanie pracy zespołowej w kontekście programistycznym. Jestem otwarty na nowe wyzwania i wiem, że szybko się uczę – co potwierdza blog, na którym jesteś, zbudowany przeze mnie od podstaw.

Na co dzień korzystam z systemu Linux, gdzie bez problemu poruszam się po terminalu, czytam pliki i wykonuję podstawowe operacje.

Zapraszam do zapoznania się z moimi projektami na stronie i do kontaktu. Chętnie podzielę się swoimi doświadczeniami i nawiążę współpracę!

Pozdrawiam,
Patryk Blachowicz </p>
</div>
</div>

<br><br><br>