<title><%= t "title.about" %></title>
<hr>
<br>

<div class="container">
<h2 class="register-title"><u> <%= t "about.title" %></u></h2>
<br>
<p> Hej! nazywam sie Patryk! </p>

<div class="about"><%= image_tag "/assets/me.png" %>
    <h3> Hi! my name is </h3>
</div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>