/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 body{
    background-image: asset-url('background.png');
    background-size: cover;
 }

 .container{
    background-color: #f2f3f2;
 }
 @media only screen and (max-width: 1520px){
    .logo img{width: 550px;}
}
 @media only screen and (max-width: 1320px){
     .logo img{width: 500px;}
 }
 @media only screen and (max-width: 960px){
     .logo img{width: 450px;}
 }
 @media only screen and (max-width: 770px){
     .logo img{width: 400px;}
 }
 @media only screen and (max-width: 540px){
    .logo img{width: 320px;}
}

.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 .logo{
    margin: auto;
 }

 .langs a{
    text-decoration: none;
 }

 .langs a{
    border-radius: 7px;
    box-shadow: 2px 2px 12px #ce74f7;

 }

 .navbar-logo img{
    width: 80px;
 }
 
 .nav-item{
   margin-left: 12px;
 }

 .user_admin{
   font-weight: 500;
   color: #5b2b6e;
   text-shadow: #ce74f7 4px 0px 4px;
   cursor: pointer;
 }

 .user_user{
   font-weight: 500;
   color: #39730c;
   text-shadow: #92ec4f 4px 0px 4px;
   cursor: pointer;
 }

 .user_user:hover{
   color: #2d5c0a;
   text-shadow: #448a0f 6px 0px 6px;
   transition: 1s;
 }

 .user_admin:hover{
   color: #760aa9;
   text-shadow: #980dd9 6px 0px 6px;
   transition: 1s;
 }

 .nav-item p a{
   text-decoration: none;
   color: black;
 }

 .nav-item p a:hover{
   color: #39730c;
   text-shadow: #92ec4f 4px 0px 4px;
   transition: 1s;
 }

 .nav-item button{
   border-style: none;
   font-size: 15px;
 }

 
 
//  text-shadow: #ce74f7 1px 0 15px;